/* top bar */

.top-bar-main-container {
  background-color: #003d29;
  color: white;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.top-bar-phone-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.top-bar-shop-now-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.top-bar-location-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

/* header */

.header-main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding-top: 15px;
  font-size: 20px;
  margin: 10px 0px;
}

.shopcart-img-and-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35%;
  padding-left: 10px;
}

.header-search-container {
  width: 40%;
}

.header-account-cart-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding-right: 20px;
}

.header-account-text,
.header-cart-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.search-bar-btn {
  padding-right: 20px;
  border-radius: 20px;
  border-left: none;
}

/* header slider */

.header-slider-container {
  height: 638px;
  width: 100%;
  object-fit: cover;
}

.header-slider-img {
  height: 100%;
  width: 100%;
}

/* cateogry */

.product-card-image {
  height: 300px;
  width: 100%;
  object-fit: contain;
  margin-top: 10px;
  cursor: pointer;
}

.category-main-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
}

.category-title-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35%;
  margin-top: 20px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  gap: 10px;
}

.category-title-btn-container > Button {
  border-radius: 40px;
}

.add-to-cart-btn {
  background-color: #003d29;
  color: white;
  border: none;
  font-size: 14px;
  padding: 10px;
  border-radius: 5px;
  place-items: center;
  cursor: pointer;
}

/* product modal */

.modal-main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.modal-img {
  width: 150px;
  height: 160px;
  object-fit: contain;
}

.modal-img-container {
  height: 100%;
}

/* what we offer */

.cashback-img-container {
  height: 350px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}

.cashback-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.what-we-offer-cards-container {
  padding: 10px;
}

.what-we-offer-card-img {
  height: 280px;
  width: 100%;
  object-fit: cover;
}

.whate-we-offer-card-content-container {
  background-color: #f5f6f6;
  height: 150px;
  padding: 10px;
}

.offer-card-title {
  font-weight: bold;
  font-size: 19px !important;
  margin-bottom: 10px;
}

.offer-card-sub-title {
  font-family: sans-serif;
  margin-top: 20px;
}
