@import url("styles/common.css");
@import url("./styles/screen_1024_1439.css");
@import url("./styles/screen_1440_1999.css");
@import url("./styles/screen_2560_above.css");
@import url("./styles/screen_767.css");
@import url("./styles/screen_768_1023.css");

body {
  padding: 0;
  margin: 0;
  border: none;
}
